<h1> Welcome to our App </h1> <br/>
<div>

 <ul class="d-flex justify-content-between list-unstyled">
        <li >
            <div>
                <a style="margin-top: 200px;" type="submit" asp-controller="user" asp-action="create" class="btn1">Create</a>
                <style>
                    .btn1 {
                        background-color: green;
                        color: white;
                        padding: 20px 30px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 25px;
                        margin: 6px 2px;
                        cursor: pointer;
                    }
                </style>
            </div>
        </li>
       @* <li>
            <div>
                <a style="margin-top: 200px;" type="submit" asp-controller="user" asp-action="delete" class="btn2">Delete</a>
                <style>
                    .btn2 {
                        background-color: red;
                        color: white;
                        padding: 20px 30px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 25px;
                        margin: 6px 2px;
                        cursor: pointer;
                    }
                </style>
            </div>
        </li>*@
        <li>
            <div>
                <a style="margin-top: 200px;" type="submit" asp-controller="user" asp-action="index" class="btn3">GetAll</a>
                <style>
                    .btn3 {
                        background-color: yellow;
                        color: white;
                        padding: 20px 30px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 25px;
                        margin: 6px 2px;
                        cursor: pointer;
                    }
                </style>
            </div>
        </li>
        @*<li>
            <div>
                <a style="margin-top: 200px;" type="submit" asp-controller="user" asp-action="update" class="btn4">Update</a>
                <style>
                    .btn4 {
                        background-color: blue;
                        color: white;
                        padding: 20px 30px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 25px;
                        margin: 6px 2px;
                        cursor: pointer;
                    }
                </style>
            </div>
        </li>        *@
 </ul>

<div class="text-center" style="margin-right : 1000px">
    
</div>

<div class="text-center" style="margin-right : 600px">
    
</div>

<div class="text-center" style="margin-right : 200px">
    
</div>
</div>