@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <a style="margin-top: 300px;" type="submit" asp-controller="user" asp-action="home" class="btn">Welcome</a>
    
    <style>
    .btn {
    background-color: red;
    color: white;    
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 6px 2px;
    cursor: pointer;
    }

    </style>
    <style>
        body {
            background-color: white;
        }
    </style>
    
    </div>
   

</div>
